<% include ../fragments/header.ejs %>

<div class="container">
    <a href="/addBook" class="btn btn-primary">To add a Book</a>
    <div class="content">
      <ul class="books list-group">
          <li class="list-group-item">
              <span class="bookName"><%= book.bookName %>,</span>
              <span class="isbn"> isbn: <%= book.isbn %>, </span>
              <span class="author"> Author: <%= book.author.firstName + " " + book.author.lastName %> </span>
          </li>

      </ul>
    </div>
</div>

<% include ../fragments/footer.ejs %>
